@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati&family=Crimson+Text&family=Inter&family=Lato:wght@300;700&family=Maven+Pro&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,700;1,500&family=Yrsa&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    padding: auto;
}

a {
    text-decoration: none; 
    color: inherit;
}

.header .nav .menu {
    list-style: none;
    display: inline-table;
    text-align: center;
}

.header li {
    display: inline;
    padding: 10px;
    text-size-adjust: 20px;
    text-align: center;
}

.header {
    width: 100%; 
    min-height: 90px;
    position: fixed; 
    justify-content: space-between;
    background-color: #B2FF9E;
    align-items: center;
    margin-top: auto;
    text-align: center;
    text-size-adjust: 20px;
}

nav a:hover{
    background-color: #1dd3b0;
}

.logo {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    font-family: 'Anek Gujarati', sans-serif; 
    font-weight: bold; 
    padding: 0 40px; 
    line-height: 80px;
    background-color: #B2FF9E;
}

.menu {
    display: flex; 
    padding: auto;
} 

.item {
    font-size: 20px; 
    margin: 10px;
    line-height: 50px; 
    text-transform: uppercase;
    background-color: #B2FF9E;
    display: inline-block;
    justify-content: center;
    border-radius: 5px; 
    border: 1px  #1dd3b0;
    padding: 10px;
    
}

.nav {
    display: flex; 
    justify-content: space-between;
    margin-right: 40px;
}

ul {
    list-style: none;
    text-size-adjust: 18px;
    font-family: 'Anek Gujarati', sans-serif;
    text-align: center;
}

li {
    text-size-adjust: 18px;
    font-family: 'Anek Gujarati', sans-serif;
    padding: 10px;
    text-size-adjust: 20px;
    text-align: center;
}


#Inicio {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}

#Contacto {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    flex-direction: column;
    text-align: center;
    width: 350px;
    margin: auto;
   
}

#Contacto .hablemos {
    background-color: #4acab0;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

#Contacto .hablemos p {
    margin-left: 10px;
    margin-right: 10px;
}

.circulo {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 250px; 
    background-image: none; 
    margin-top: 80px;
    margin-bottom: 20px;
}

#Presentacion {
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    text-size-adjust: 18px;
    font-family: 'Anek Gujarati', sans-serif;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Anek Gujarati', sans-serif;
    padding: auto;
    margin-top: 2opx;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-family: 'Anek Gujarati', sans-serif;
    padding: auto;
    margin-top: 10px;
}

.boton {
    border: 1px  #1dd3b0; 
    padding: 10px; 
    background-color: #1dd3b0;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Anek Gujarati', sans-serif;
    border-radius: 40px; 
    text-size-adjust: 18px;
    justify-content: center;
}

#Presentacion a:hover {
    background-color: #b2ff9e;
}

.icono {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20pxpx;
    background-color:  #fbfbfb;
}

.icono1 {
    width: 50px;
    height: 50px;
}

.icono2 {
    width: 50px;
    height: 50px;
} 

footer {
    background-color: #bff9b1 ; 
    height: 90px;
}

.derechos {
    padding-top: 30px;
}

.derechos a {
    line-height: 10px; 
    background-color:   #c9f8bd;
    display: inline-block;
    justify-content: center;
    border-radius: 5px; 
    padding: 10px;
}

.derechos a:hover {
    background-color:  #bff9b1;
    transition: 0.3s;
}
.derechos p {
    line-height: 0;
}

@media (max-width:700px){
    header, nav, .logo, .menu, .Inicio{
        flex-direction: column;
    }
    .header {
        min-width: none;
        position: relative;
    }
    nav{
        padding:10px 0px;
    }
    .circulo {
        margin-top: 10px;
    }
} 

@media (min-width:1024px) {
    #Inicio {
        flex-direction: row;
    }
    h1 {
        font-size: 48px;
        text-align: left;
    }
    h2 {
        font-size: 32px;
    }
    #Presentacion {
        width: 50%;
        text-align: left;
        padding-top: 80px;
    }

    #Presentacion p {
        text-align: left;
    }

}